### This notebook will be mainly used for the Capstone Project

In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [2]:
import wikipedia as wp

html = wp.page("List of postal codes of Canada: M").html().encode("UTF-8")
df = pd.read_html(html, header = 0)[0]
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

Ignore cells with a borough that is Not assigned

In [9]:
df = df[df.Borough != 'Not assigned']
df = df.rename(columns={'Postcode': 'Postal code'})

for index, row in df.iterrows():
    if row['Neighborhood'] == 'Not assigned':
        row['Neighborhood'] = row['Borough']

df.head()

           Borough Postal code                  Neighborhood
0  Central Toronto         M4N                 Lawrence Park
1  Central Toronto         M4P              Davisville North
2  Central Toronto         M4R            North Toronto West
3  Central Toronto         M4S                    Davisville
4  Central Toronto         M4T  Moore Park / Summerhill East

More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [15]:
df = df.groupby(['Borough', 'Postal code'])['Neighborhood'].apply(list).apply(lambda x:', '.join(x)).to_frame().reset_index()

df.shape

(103, 3)